@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.text_light_gray {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 50px;
}

.btn_primary {
    padding: 20px 25px;
    border-radius: 8px;
    background: #FF900E;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menus {
    list-style: none;
    display: flex;
    cursor: pointer;
    color: #424242;
    font-size: 1.25rem;
    font-weight: 500;
    gap: 30px;
}

.menus a {
    text-decoration: none;
}

.brand_logo {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

/* nav end */

.banner_content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner_title {
    font-size: 4rem;
    color: #131313;
    font-weight: 700;
}

.banner img {
    margin-top: 50px;
    width: 100%;
}

/* Main section start */

main {
    max-width: 1440px;
    margin: 50px auto;
}

/* team section start */
.teams_container {
    display: flex;
    align-items: center;
    padding: 0 150px;
}

.teams_image_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams_image_container img {
    height: 290px;
}

.teams_content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams_title {
    font-size: 2.3rem;
}

.quick_list {
    color: #727272;
    font-weight: 500;
}

.text_features {
    color: #FF900E;
    font-weight: 700;
}

/* teams section end */

/* feature section start */

.feature_container {
    display: flex;
    margin-top: 100px;
    margin-left: 240px;
    margin-right: 240px;
    gap: 100px;
    align-items: center;
}

.feature_content .feature_title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.feature_content .card {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature_content .card > h4{
    margin: 0;
}
.feature_content .card > p{
    margin: 0;
}

.feature_image img{
    /* width: 100%; */
}
.ten_year_badge {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    padding: 40px 45px;
    position: relative;
    bottom: 100px;
    right: 70px;
    width: 200px;
}

.ten_year_badge .badge_title {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}

.ten_year_badge .badge_text {
    font-size: 25px;
    font-weight: 500;
    margin: 0;
}

/* feature section end */





/* facts section start */
.facts_container {
    padding: 0 240px;
}

.facts_title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.facts_card_container {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.facts_card_container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 40px 30px;
}

.facts_card_container .card_stats {
    font-size: 2.8rem;
    color: #424242;
    margin: 10px 0;
}

.facts_card_container .card_title {
    font-weight: 600;
    font-size: 1.1rem;
    color: #424242;
    margin: 10px 0;
}

/* facts section end */

/* sponsor section start */

.sponsor {
    text-align: center;
    padding: 0 240px;
}

.sponsor_title {
    margin-top: 70px;
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.sponsor_image {
    display: flex;
    justify-content: space-around;
    align-items: center;

    gap: 40px;
}

.sponsor_image img {
    width: 130px;
}


/* sponsor section end */
/* Main section end */






/* Media query start*/

/* Mobile device */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    .brand_logo {
        font-size: 1.5rem;
    }

    .nav_bar,
    .teams_container,
    .sponsor_image {
        flex-direction: column;
    }

    .teams_image_container {
        grid-template-columns: 1fr;
    }

    .teams_title {
        font-size: 1.5rem;
    }

    .teams_content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .menus {
        margin-left: -40px;
    }

    .menus a {
        font-size: 0.9rem;
    }

    .banner_title {
        font-size: 2rem;
    }

    .btn_primary {
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        padding: 15px 20px;
    }

    .facts_container {
        padding: 0 20px;
    }

    .facts_card_container {
        flex-direction: column;
    }

    .teams_container {
        padding: 0px;
    }

    .sponsor {
        padding: 0;
    }

}

/* tablet or medium device */

@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    .brand_logo {
        font-size: 2rem;
    }

    .nav_bar,
    .teams_container,
    .facts_card_container,
    .sponsor_image {
        flex-direction: column;
    }

    .menus {
        margin-left: -35px;
    }

    .teams_content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .btn_primary {
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        padding: 15px 20px;
    }

    .facts_container {
        padding: 0 20px;
    }

    .facts_card_container {
        flex-direction: column;
    }

    .teams_container {
        padding: 0px;
    }

    .sponsor_image {
        padding: 0;
    }
}

/* Media query end*/